BlazorWeb/.vs
BlazorWeb/BlazorWebDemo/Client/bin
BlazorWeb/BlazorWebDemo/Client/obj
BlazorWeb/BlazorWebDemo/Server/bin
BlazorWeb/BlazorWebDemo/Server/obj
BlazorWeb/EmployeeManagement.Models/bin
BlazorWeb/EmployeeManagement.Models/obj
BlazorWeb/BlazorWebDemo/Shared/bin
BlazorWeb/BlazorWebDemo/Shared/obj